Casarone.Magma.Servicios.Servidor.CFE/Connected Services/serviciocfe/UcfeWsTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Uruware.Ucfe.Inbox.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Uruware.Ucfe.Inbox.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.5.33:90/UcfeWsTest?xsd=xsd0" namespace="http://www.uruware.com/ucfe/inbox/webservice" />
  <xs:complexType name="RespBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://www.uruware.com/ucfe/inbox/webservice" minOccurs="0" name="Resp" nillable="true" type="q1:RespuestaDeUcfe" />
      <xs:element minOccurs="0" name="RespEnc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespBody" nillable="true" type="tns:RespBody" />
</xs:schema>